# Server Configuration
PORT=3001
NODE_ENV=development

# Optional if you are not using Docker
POSTGRES_USER=trekka_postgres
POSTGRES_PASSWORD=trekka_postgres
POSTGRES_DB=appdb
DB_PORT=5433

# For apps on your host:
DATABASE_URL=postgresql://trekka_postgres:trekka_postgres@localhost:5432/appdb

# Hedera Configuration
HEDERA_NETWORK=testnet
HEDERA_OPERATOR_ID=0.0.YOUR_ACCOUNT_ID
HEDERA_OPERATOR_KEY=YOUR_PRIVATE_KEY_HERE

# API Configuration
API_BASE_URL=http://localhost:3000

# Encryption Keys
JWT_ACCESS_SECRET=YOUR_ACCESS_SECRET_HERE
JWT_REFRESH_SECRET=YOUR_REFRESH_SECRET_HERE
ENCRYPTION_KEY=YOUR_ENCRYPTION_KEY_HERE

# Package Keys
MAIL_SENDER_KEY=pkdlfd-fdkf99fd-df-dlk

# Storacha Secrets (check web3.storage or Storacha to get one... )
S3_STORAGE_KEY=YOUR_S3_STORAGE_KEY_HERE
S3_STORAGE_PROOF=YOUR_S3_STORAGE_PROOF_HERE

