# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
Thumbs.db
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/

# Flutter / Dart / Pub
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.fvm/
.metadata
.packages
.pub-cache/
.pub/
build/
/build/
coverage/
flutter_*.png
**/Flutter/ephemeral/

# Key/identity files
*.keystore
*.jks

# Android related
android/.gradle/
android/captures/
android/local.properties
android/key.properties
android/app/debug
android/app/profile
android/app/release

# iOS related
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/.generated/
ios/Pods/
ios/.symlinks/
ios/build/
ios/Runner.xcworkspace/xcuserdata/
ios/Runner.xcodeproj/project.xcworkspace/xcuserdata/

# macOS related
macos/Flutter/ephemeral/
macos/Pods/
macos/Runner.xcworkspace/xcuserdata/
macos/Runner.xcodeproj/project.xcworkspace/xcuserdata/

# Windows related
windows/flutter/ephemeral/

# Linux related
linux/flutter/ephemeral/

# Web related
web/.dart_tool/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json
